<div>
    <label>Edad uno</label>
    <input type="text" id="edadUno">
</div>

<div>    
    <label>Edad dos</label>
    <input type="text" id="edadDos">
</div>

<div>

    <input type="button" value="Calcular" id="calc" (click)='sumar()'>
    
    <input type="button" value="Limpiar" id="clean" (click)='limpiar()'>
    
</div>

<div>
    <label>Resultado Suma</label>

    <input type="text" id="suma" [value]="resultadoEdadSuma">
</div>

<div>
    <label>Resultado Promedio</label>
    <input type="text" id="prom" [value]="resultadoEdadProm">
</div>



<router-outlet></router-outlet>